body {
    background-color: rgb(205, 235, 240);
}

header {
    box-shadow: .2em 0em .2em;
}
footer {
    box-shadow: .2em .2em .2em;
}
header, footer {
    background: rgba(65, 162, 255, 0.5);
    height: 10em;
    margin: 0em auto;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
    width: 99%;
}

header h1 {
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 100;
}

header a {
    color: #DDD;
    text-decoration: none;
}

header div {
    background: rgba(17, 118, 182, 0.80);
    border-radius: 0 2em 2em 0;
    height: 4em;
    position: absolute;
    top: 25%;
    transition: all 1s ease;
    width: 40em;
}

footer{
    background: cornflowerblue;
    height: 0;
}

footer p {
    font-size: 1.2em;
    color: #EEEEEE;
    text-align: center;
    margin: .3em;
    padding: 0;

}

footer a:link {
    color: #ffc70f;
}

#main {
    background: rgba(92, 180, 255, 0.3);
    box-shadow: .2em .2em .2em;
    display: block;
    height: 0em;
    margin: 0 auto;
    overflow: hidden;
    transition: all 1s ease;
    vertical-align: top;
    width: 99%;
}

#right{
    background: red;
    display: block;
    height: inherit;
    margin-left: 20em;
    width: 75   %;
}
#right img {
    width: 100%;
}

/*@media screen and (max-width: 600px){
    aside, #main {
        width: 100%;
    }

}*/
